page-login {
  .background {
    // background: url('../assets/imgs/back1.jpg') no-repeat;
    // background: linear-gradient(-140deg, #68FB5D, #2BF61E);
}

.scroll-content {
  // background-image: linear-gradient(
  //         rgba(0, 0, 0, 0.45)
  //         ),url("../assets/imgs/weather.jpeg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size:cover;
      width:100%;
      padding-bottom: 0 !important;
}

 .logo{
   margin: 0 auto;
 }

.reset {
    font-size: 12px;
}

ion-card.card {
    box-shadow: none;
    border-radius: 5px;
}

.list > .item-block:first-child {
    border: medium none;
}

.item {
    // margin-bottom: 10px;
    // background: rgba(255, 255, 255, 0.5);
    border: medium none;

    // .text-input {
    //     color: #fff;
    // }
    input::-moz-placeholder{
        color: #fff!important;
    }
    input:-moz-placeholder {
        color: #fff!important;
    }
    *:-moz-placeholder{
        color: #fff!important;
    }
    *:-ms-input-placeholder{
        color: #fff!important;
    }
    // *::-webkit-input-placeholder{
    //     color: #fff!important;
    // }
}

.icon {
    padding-right: 10px;
}

// .bottom {
//     bottom: 0;
// }

.input-cover {
position: static;
}
}